# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS
.DS_Store

# Documentation files
*.pdf
*.docx
# IDE specific
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.swp